<div id="editor">
  <h3>Tableau</h3>

    <p>
    There are three steps to take for installing Tableau Desktop Version. First, you must request a free student license (access lasts one year) and then install Tableau software and activate it for use using the student license. 
    
    </p>
    <h4>Getting a Student License for Tableau</h4>
    <p>For activating the tableau with Free student key, you will need to register on the below link using university ID:

    <a href="https://www.tableau.com/university-students">https://www.tableau.com/university-students</a><br>

    Click on Get Student License for free.
    </p>

    <h4>Instructions to Download Tableau Software</h4>
    <p>We can install the Tableau Desktop version from the link below:

    <a href="https://www.tableau.com/support/releases">https://www.tableau.com/support/releases</a></p>
    <ol>
        <li>Open the Product Downloads and Release Notes(Link opens in a new window) page and select Tableau Desktop or Tableau Prep Builder from the list on the left side of the page.</li>

        <li> Click on the version you want to install.</li>

        <li>In the Download Files section of the page, click on the installer for your operating system to download it. Select Windows or mac according to your requirements. </li>
    </ol>
   
    <h4> Activating Tableau </h4>
    <p>After installation is complete, you will need to activate and register the product to begin using it.
        Fill out the fields on the registration form and then click Activate Tableau.

        Or, activate with a product key: Use this option if you are activating using the user interface and have a product key from Free student version product key. <br>
        <br>

        All set you should be set to use Tableau Desktop version.
    </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#editor-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#editor-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="editor-windows">
        <p>
          Run the installer and follow the prompts.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="editor-macos">
        <p>
          Open the Disk image file (.DMG) and double-click the installer package (.PKG) to start the installation. <br>
          <br>
        </p>
      </article>
    </div>
  </div>
</div>
