<div id="editor">
  <h3>Virtual Lab</h3>

  <p>
    If you would prefer not to install the software for this workshop on your computer, you may use the Virtual lab service run by Technology Services. This allows you to use a virtual machine either
    from your web browser or from a desktop app installed on your computer. Overall you may have a better experience using it from the desktop app, but the browswer should suffice for 
    most workshops.
  </p>

  <p>
    <a href="https://help.uillinois.edu/TDClient/37/uic/KB/ArticleDet.aspx?ID=1410">See browser instructions here </a>
    <br>
    <a href="https://help.uillinois.edu/TDClient/37/uic/KB/ArticleDet.aspx?ID=1123">See desktop instructions here </a> 
  </p>
</div>
